#Programa 1

In [ ]:
import math as mt #para usaara factorial
from itertools import combinations
from itertools import combinations_with_replacement
import numpy as np

In [ ]:
nombres = ["Oscar", "Paco", "Paty", "Laura", "Ruben","Luis","Lucy","Alberrto","Juan","Dany"]
n= len (nombres)
r = 2 #¿como agrupar?

Cn= mt.factorial (n)/ (mt.factorial(r) * mt.factorial(n-r))
print ("Existen ", Cn," posibles combinaciones sin repeticion total de ",n," nombres "," en grupos de ",r," en ", r)
print ("Aqui las convinaciones")
combinaciones_nombres = list(combinations(nombres,r))
# Imprime las combinaciones
for combinacion in combinaciones_nombres:
  print(combinacion)

Existen  45.0  posibles combinaciones sin repeticion total de  10  nombres   en grupos de  2  en  2
Aqui las convinaciones
('Oscar', 'Paco')
('Oscar', 'Paty')
('Oscar', 'Laura')
('Oscar', 'Ruben')
('Oscar', 'Luis')
('Oscar', 'Lucy')
('Oscar', 'Alberrto')
('Oscar', 'Juan')
('Oscar', 'Dany')
('Paco', 'Paty')
('Paco', 'Laura')
('Paco', 'Ruben')
('Paco', 'Luis')
('Paco', 'Lucy')
('Paco', 'Alberrto')
('Paco', 'Juan')
('Paco', 'Dany')
('Paty', 'Laura')
('Paty', 'Ruben')
('Paty', 'Luis')
('Paty', 'Lucy')
('Paty', 'Alberrto')
('Paty', 'Juan')
('Paty', 'Dany')
('Laura', 'Ruben')
('Laura', 'Luis')
('Laura', 'Lucy')
('Laura', 'Alberrto')
('Laura', 'Juan')
('Laura', 'Dany')
('Ruben', 'Luis')
('Ruben', 'Lucy')
('Ruben', 'Alberrto')
('Ruben', 'Juan')
('Ruben', 'Dany')
('Luis', 'Lucy')
('Luis', 'Alberrto')
('Luis', 'Juan')
('Luis', 'Dany')
('Lucy', 'Alberrto')
('Lucy', 'Juan')
('Lucy', 'Dany')
('Alberrto', 'Juan')
('Alberrto', 'Dany')
('Juan', 'Dany')

# pag 28: Caracteres Alfabeticos y digitos

In [ ]:
caracteres = ["a","b","c","d","e","f","1","2","3","4","5"]
n = len(caracteres)
r =10 #como agrupar
Cn = mt.factorial (n) / (mt.factorial (r) *  mt.factorial(n-r))
print("Eisten ",Cn," posibles combinaciones sin repetiion del total de ",n," caracteres "," en grupos de ",r," en ",r)
print ("aqui las combinaciones")
combinaciones_caracteres =list(combinations(caracteres,r))
#imprime las combinaciones
for combinacion in combinaciones_caracteres:
    print (combinacion)

Eisten  11.0  posibles combinaciones sin repetiion del total de  11  caracteres   en grupos de  10  en  10
aqui las combinaciones
('a', 'b', 'c', 'd', 'e', 'f', '1', '2', '3', '4')
('a', 'b', 'c', 'd', 'e', 'f', '1', '2', '3', '5')
('a', 'b', 'c', 'd', 'e', 'f', '1', '2', '4', '5')
('a', 'b', 'c', 'd', 'e', 'f', '1', '3', '4', '5')
('a', 'b', 'c', 'd', 'e', 'f', '2', '3', '4', '5')
('a', 'b', 'c', 'd', 'e', '1', '2', '3', '4', '5')
('a', 'b', 'c', 'd', 'f', '1', '2', '3', '4', '5')
('a', 'b', 'c', 'e', 'f', '1', '2', '3', '4', '5')
('a', 'b', 'd', 'e', 'f', '1', '2', '3', '4', '5')
('a', 'c', 'd', 'e', 'f', '1', '2', '3', '4', '5')
('b', 'c', 'd', 'e', 'f', '1', '2', '3', '4', '5')

In [ ]:
dado = [1 ,2 ,3 ,4 ,5 ,6 ]
n =len(dado)
r = 2 #¿como agrupar?, de dos porque hay 2 dados
CnR = mt.factorial(n+r-1) / (mt.factorial (r) * mt.factorial (n+r-1))
print ("Existen ",CnR, " posible de combinaciones con repeticion del total de ",n, " caracteres "," en grupo de ", r, " en ",r )
print ("aqui las combinaciones")
#Definir el conjuno de elementos
elementos=[1,2 ,3 ,4 ,5 ,6 ]
#numero de elementos a elegir en cada combinacion
r=2
#calcular las combinaciones con repeticion
combinacioes_dados = list(combinations_with_replacement(dado,r))
#imprimir la combinacion
for combinacion in combinacioes_dados:
    print (combinacion)

Existen  0.5  posible de combinaciones con repeticion del total de  6  caracteres   en grupo de  2  en  2
aqui las combinaciones
(1, 1)
(1, 2)
(1, 3)
(1, 4)
(1, 5)
(1, 6)
(2, 2)
(2, 3)
(2, 4)
(2, 5)
(2, 6)
(3, 3)
(3, 4)
(3, 5)
(3, 6)
(4, 4)
(4, 5)
(4, 6)
(5, 5)
(5, 6)
(6, 6)